html{
  scroll-behavior: smooth;
}


/* ------------- MENU BAR ------------------ */

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}




#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar-brand img{
	height:50% ;
	width: 49%;
}

.navbar-nav li{
	padding: 0 50px; /* espaço entre as palavras no menu */

}

.navbar-nav li a{
	color: #ff0044;
	font-weight: 600;
}

.navbar{
	background-color: #FFF0DC;
	font-size: 85%;
}
.navbar-toggler{
	outline: none !important;
}

.nav-item{
  width: 241px;
}

/* CONTEUDO */
.tudo{
background-color: #00093f;
}
#reservas{
	margin-top: 5rem;
}

@media screen and (max-width: 900px){
#reservas{
	margin-top: 7rem;
}
}

#reservas h1{
	font-family: Franklin Gothic Medium, sans-serif;
	font-weight: bold;
	color: #ffff;
	font-size: 50px;
	padding-top: 3%;
}

.texti{
font-family: Bahnscript,sans-serif;
font-weight: bold;
color: #ffff;
padding-top: 4%;
}

.sub{
font-family: Bahnscript,sans-serif;
color: #ffff;

}

.sinuca{
	width: 100%;
}

.maquina{
	width: 100%;;
}

.fotos {
  position: relative;
  width: 100%;
  padding-top: 7rem;
}

.sinuca, .maquina {
  opacity: 1;
  display: block;
  width: 60%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle1 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 25%;
  left: 16%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.sinuca:hover{
  opacity: 0.3;
}
.maquina:hover {
  opacity: 0.3;
}

.fotos:hover .middle1{
  opacity: 1;
}

.fotos:hover .middle2{
  opacity: 1;
}


.text {
  color: white;
  font-family: Bahnscrispt,sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 16px 32px;
}

/* FORMULARIO */

.form-group label{
	font-family: Bahnscript, sans-serif;
	font-weight: bold;
	color: white;
}

.form-group input{
	border: 3px solid;
	border-color: white;
	background-color: transparent;
	padding: 3%;
}

select#inputEstado.form-control{
	border: 3px solid;
	border-color: white;
	background-color: transparent;
}

.conteudo-tudo{
	position: relative;
	padding-bottom: 3rem;

}

/* ------------ BOTÃO DE ENVIAR ----------- */
.buttons-coll {
  width: 90%;
  /* margin: 50px auto; */
  text-align: center;
  padding-top: 2%;
  padding-left: 1%;
}
button {
  margin: 20px;

}
.custom-btn {
  padding: 10px 25px;
  font-family: Franklin Gothic Medium, sans-serif;
  font-weight: 500;
  float: left;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;

}
.btn-enviar {
  border: 2px solid #ff0044;
  z-index: 1;
  color: #ff0044;
  font-weight: 400;
}
.btn-enviar:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #ff0044;
  transition: all 0.3s ease;
}
.btn-enviar:hover {
  color: #fff;
  font-weight: 400;
}
.btn-enviar:hover:after {
  top: 0;
  height: 100%;
}
.btn-enviar:active {
  top: 2px;
}


/* ------------ FOOTER --------------*/

 footer.container-fluid {
        background-color: #FFF0DC;
        padding-top: 2%;
        padding-bottom: 2%;
     }
   .logo-footer {
        margin-bottom: 10%;
        width: 50%;
     }
     footer {
            color: grey;
     }
     footer p, a {
    font-size: 12px;
    font-family: Bahnscript, sans-serif;
}
footer h6 {
    font-family: Bahnscript, sans-serif;
    font-weight: bold;
    margin-bottom: 40px;
    position: relative;
}
footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}
     .btn-footer {
                 color: grey;
              
                text-decoration: none;
                border: 1px solid;
                border-radius: 0;
                font-size: 13px;
                padding: 7px 30px;
                line-height: 47px;
     }
     .btn-footer:hover {
                
                text-decoration: none;
               
     }
    .form-footer input[type="text"] {
        border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;
    
}

 .form-footer input[type="button"] {
    border: none;
    background:#232323;
    margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}
     .social .fab {
    color: #00093f;
    font-size: 22px;
    padding: 10px 15px;
}
     footer ul li {
    list-style: none;
    display: block;
}
  footer ul  {
   padding-left: 0;
}
footer ul  li a{
  text-decoration: none;
  color: grey;
  text-decoration:none;
}
footer a:hover {
    text-decoration: none;
    color: #ff0044 !important;  
}

footer.social,.fab:hover{
	color: #ff0044 !important; 
}
.logo-part {
    border-right: 1px solid grey;
    height: 100%;
    }

footer strong{
	color: #ff0044;
}

footer .fas, .far{
	color: #ff0044;
}